@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@import "./article.css";

@theme {
    --color-gray-50: #fafafa;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e6e6e6;
    --color-gray-300: #d3d3d3;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #727272;
    --color-gray-600: #535353;
    --color-gray-700: #404040;
    --color-gray-800: #272727;
    --color-gray-900: #1a1a1a;
    --color-gray-950: #0f0f0f;
}

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Google Sans", sans-serif;
}

button {
    cursor: pointer;
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html::-webkit-scrollbar,
.hide::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
